@import "~bootstrap/scss/bootstrap.scss";
.buyM_body_An {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .buyM_body_An {
    display: block;
  }
  .buyC_body_An {
    display: none;
  }
}

.buyC_body_An {
  background-color: #e1e1d5;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.buyC_box_An {
  width: 70.625rem;
  border-radius: 0.25rem;
  background-color: #fff1e6;
  padding: 3rem;
}

.buyC_boxBottom_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 0.625rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}

.buyC_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
}

.buyC_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem;
}
.buyC_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.buyC_magic-checkbox_An {
  position: absolute;
  display: none;
}
.buyC_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2.7rem;
  margin-right: 2.7rem;
}
.buyC_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.buyC_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.buyC_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.buyC_magic-checkbox_An:checked + label:after {
  display: block;
}
.buyC_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.buyC_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.buyC_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.buyC_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.buyC_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: 1rem;
}

.buyC_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  position: relative;
  margin: 2.5rem;
}

.buyC_inputbox_An {
  margin: 2.5rem;
}

.buyC_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.buyC_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.buyC_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.buyC_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.buyC_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.buyC_input-black_An:focus {
  outline: none;
}

.buyC_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
  position: relative;
  margin: 2.5rem;
}

.buyC_boxDown_An {
  background-color: #fff1e6;
  /* width: 64.75rem; */
  height: 4rem;
  border-radius: 0.25rem;
  padding-left: 1.9rem;
  padding-right: 2.5rem;
}

.buyC_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.buyC_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.buyC_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyC_btn-brown_An:hover {
  background-color: #d9ae97;
}
.buyC_btn-brown_An:active {
  background-color: #bb8f78;
}
.buyC_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.buyC_boxDownLeft_An {
  padding: 1.5rem;
}

.buyC_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
}

.buyC_boxDownRight_An {
  padding: 1rem;
}

.buyC_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1.5rem;
  color: #ed8f8f;
}

.buyC_boxConsignee_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}
.buyC_boxConsignee_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}

.buyC_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyC_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.buyC_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.buyC_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}
.buyC_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.buyC_magic-radio_An {
  position: absolute;
  display: none;
}
.buyC_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.buyC_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.buyC_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.buyC_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.buyC_magic-radio_An:checked + label:before {
  animation-name: none;
}
.buyC_magic-radio_An:checked + label:after {
  display: block;
}
.buyC_magic-radio_An + label:before {
  border-radius: 50%;
}
.buyC_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.buyC_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.buyC_btn-green_An {
  /* #A5A58D*/
  width: 64.75rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  /* margin-left: 1.9rem; */
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyC_btn-green_An:hover {
  background-color: #b7b7a4;
}
.buyC_btn-green_An:active {
  background-color: #777b5a;
}
.buyC_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}

.buyM_body_An {
  background-color: #e1e1d5;
  width: 25.875rem;
}

.buyM_box_An {
  width: 25.875rem;
  border-radius: 0.25rem;
  background-color: #fff1e6;
  padding: 0.5rem;
}

.buyM_boxBottom_An {
  background-color: #fffffd;
  /* width: 25.875rem; */
  padding: 0.625rem;
  border-radius: 0.25rem 0.25rem 0 0;
}

.buyM_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
}

.buyM_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  /* margin: 1.25rem; */
  margin-left: 0.65rem;
  margin-top: 2.5rem;
  margin-right: 0.5rem;
}
.buyM_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.buyM_magic-checkbox_An {
  position: absolute;
  display: none;
}
.buyM_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  /* margin: 1.5rem; */
  margin-top: 1.5rem;
  margin-left: 0.75rem;
}
.buyM_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.buyM_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.buyM_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.buyM_magic-checkbox_An:checked + label:after {
  display: block;
}
.buyM_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.buyM_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.buyM_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.buyM_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.buyM_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  /* margin: 1rem; */
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.buyM_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
  position: relative;
  margin: 0.25rem;
}

.buyM_btn-quantity_An {
  position: relative;
  display: inline-block;
  /* width: 10rem; */
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3.5rem;
}
.buyM_btn-quantity_An:hover .buyM_btn-quantity-content {
  display: block;
}
.buyM_btn-quantity_An i {
  /* width: 1rem; */
  text-align: center;
  padding-right: 0.5rem;
  color: #777b5a;
}

.buyM_btn-quantity-content_An {
  display: none;
  position: absolute;
  background-color: #fffffd;
}
.buyM_btn-quantity-content_An a {
  color: #707070;
  padding: 0.5rem 2.6rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.buyM_btn-quantity-content_An a:hover {
  background-color: #e0dfde;
}

.buyM_quantitybtn_An {
  background-color: #fffffd;
  color: #707070;
  border-radius: 0.25rem;
  padding: 0;
  border: solid 0.08rem #707070;
  font-size: 0.75rem;
  cursor: pointer;
  text-align: center;
}
.buyM_quantitybtn_An:focus {
  outline: none;
}

.buyM_input-transparent_An {
  /* width: 4rem; */
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.buyM_input-transparent_An:focus {
  outline: none;
}

.buyM_inputbox_An {
  margin: 0.25rem;
}

.buyM_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.buyM_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.buyM_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.buyM_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.buyM_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.buyM_input-black_An:focus {
  outline: none;
}

.buyM_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #cb997e;
  position: relative;
  text-align: center;
}

.buyM_boxDown_An {
  background-color: #fff1e6;
  /* width: 64.75rem; */
  height: 4rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding-top: 0.75rem;
}

.buyM_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.buyM_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.buyM_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyM_btn-brown_An:hover {
  background-color: #d9ae97;
}
.buyM_btn-brown_An:active {
  background-color: #bb8f78;
}
.buyM_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.buyM_boxDownLeft_An {
  padding: 1.5rem;
}

.buyM_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #cb997e;
}

.buyM_boxDownRight_An {
  padding: 1rem;
}

.buyM_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #ed8f8f;
}

.buyM_boxConsignee_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}
.buyM_boxConsignee_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #777b5a;
}

.buyM_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyM_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.buyM_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.buyM_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #777b5a;
}
.buyM_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.buyM_magic-radio_An {
  position: absolute;
  display: none;
}
.buyM_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.buyM_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.buyM_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.buyM_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.buyM_magic-radio_An:checked + label:before {
  animation-name: none;
}
.buyM_magic-radio_An:checked + label:after {
  display: block;
}
.buyM_magic-radio_An + label:before {
  border-radius: 50%;
}
.buyM_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.buyM_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.buyM_btn-green_An {
  /* #A5A58D*/
  width: 20rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-left: 2.25rem;
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.buyM_btn-green_An:hover {
  background-color: #b7b7a4;
}
.buyM_btn-green_An:active {
  background-color: #777b5a;
}
.buyM_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}
