@import "~bootstrap/scss/bootstrap.scss";
.orderM_body_An {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .orderM_body_An {
    display: block;
  }
  .orderC_body_An {
    display: none;
  }
}

.orderC_body_An {
  background-color: #fff1e6;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.orderC_classificationBox_An {
  margin-bottom: 5rem;
}

.orderC_classification_An {
  color: #777b5a;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.orderC_classification_An a {
  color: #777b5a;
  font-size: 1.5rem;
  text-decoration: none;
}
.orderC_classification_An a:hover {
  color: #a5a58d;
  font-size: 1.5rem;
  text-decoration: none;
}

.orderC_filterbtn_An {
  background-color: #cb997e;
  color: #fffffd;
  padding: 0.5rem 1rem;
  width: 5.875rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderC_btn-filter_An:hover .orderC_filterbtn {
  background-color: #d9ae97;
}
.orderC_filterbtn_An:focus {
  outline: none;
}

.orderC_btn-filter_An {
  position: relative;
  display: inline-block;
}

.orderC_btn-filter-content_An {
  width: 5.875rem;
  display: none;
  position: absolute;
  background-color: #fffffd;
}
.orderC_btn-filter_An:hover .orderC_btn-filter-content_An {
  display: block;
}

.orderC_btn-filter-content_An a {
  color: #707070;
  padding: 0.5rem 0.95rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderC_btn-filter-content_An a:hover {
  background-color: #e0dfde;
  text-decoration: none;
  color: #707070;
}

.orderC_box_An {
  border-radius: 0.25rem;
  background-color: #e1e1d5;
  padding: 1rem;
}

.orderC_boxBottom_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin: 2rem;
}

.orderC_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin: 1rem;
  border-radius: 0.25rem;
}

.orderC_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem;
}
.orderC_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.orderC_magic-checkbox_An {
  position: absolute;
  display: none;
}
.orderC_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2.7rem;
  margin-right: 2.7rem;
}
.orderC_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderC_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderC_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderC_magic-checkbox_An:checked + label:after {
  display: block;
}
.orderC_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.orderC_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.orderC_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.orderC_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.orderC_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: 1rem;
}

.orderC_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  position: relative;
  margin: 2.5rem;
}

.orderC_quantity_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  position: relative;
  margin: 2.5rem;
}

.orderC_inputbox_An {
  margin: 2.5rem;
}

.orderC_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.orderC_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderC_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.orderC_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderC_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.orderC_input-black_An:focus {
  outline: none;
}

.orderC_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
  position: relative;
  margin: 2.5rem;
}

.orderC_boxDown_An {
  margin: 2rem;
  background-color: #fffffd;
  /* width: 64.75rem; */
  border-radius: 0.25rem;
  padding: 1rem;
}

.orderC_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.orderC_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.orderC_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderC_btn-brown_An:hover {
  background-color: #d9ae97;
}
.orderC_btn-brown_An:active {
  background-color: #bb8f78;
}
.orderC_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.orderC_boxDownLeft_An {
  padding: 1.5rem;
}

.orderC_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
}

.orderC_boxDownRight_An {
  padding: 1rem;
}

.orderC_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1.5rem;
  color: #ed8f8f;
}

.orderC_boxStatus_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}

.orderC_boxStatus_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  /* font-size: 1rem;
  color: #777B5A; */
}

.orderC_boxConsignee_An {
  background-color: #f5f5f5;
  /* width: 64.75rem; */
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 4rem;
}
.orderC_boxConsignee_An span {
  margin: 0.5rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
}

.orderC_borderSL_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}
.orderC_titel_An {
  font-family: "Noto_Serif_TC-Regular", "Microsoft JhengHei", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  margin-top: 1.25rem;
}
.orderC_borderSR_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}

.orderC_detailBox_An {
  text-align: center;
}

.orderC_redSpan_An {
  color: #ed8f8f;
}

.orderC_brownSpan_An {
  color: #cb997e;
}

.orderC_borderL_An {
  width: 85%;
  height: 0.125rem;
  background-color: #ed8f8f;
  margin-left: 4.25rem;
}

.orderC_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderC_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.orderC_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.orderC_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}
.orderC_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.orderC_magic-radio_An {
  position: absolute;
  display: none;
}
.orderC_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.orderC_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderC_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderC_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderC_magic-radio_An:checked + label:before {
  animation-name: none;
}
.orderC_magic-radio_An:checked + label:after {
  display: block;
}
.orderC_magic-radio_An + label:before {
  border-radius: 50%;
}
.orderC_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.orderC_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.orderC_btn-green_An {
  /* #A5A58D*/
  width: 64.75rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  /* margin-left: 1.9rem; */
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderC_btn-green_An:hover {
  background-color: #b7b7a4;
}
.orderC_btn-green_An:active {
  background-color: #777b5a;
}
.orderC_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}

.orderM_body_An {
  background-color: #fff1e6;
  width: 25.875rem;
}

.orderM_classificationBox_An {
  margin-bottom: 5rem;
}

.orderM_classification_An {
  color: #777b5a;
  font-size: 0.875rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.orderM_classification_An a {
  color: #777b5a;
  font-size: 0.875rem;
  text-decoration: none;
}
.orderM_classification_An a:hover {
  color: #a5a58d;
  font-size: 0.875rem;
  text-decoration: none;
}

.orderM_filterbtn_An {
  background-color: #cb997e;
  color: #fffffd;
  padding: 0.5rem 1rem;
  width: 5.875rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderM_btn-filter_An:hover .orderM_filterbtn {
  background-color: #d9ae97;
}
.orderM_filterbtn_An:focus {
  outline: none;
}

.orderM_btn-filter_An {
  position: relative;
  display: inline-block;
}

.orderM_btn-filter-content_An {
  width: 5.875rem;
  display: none;
  position: absolute;
  background-color: #fffffd;
}
.orderM_btn-filter_An:hover .orderM_btn-filter-content_An {
  display: block;
}

.orderM_btn-filter-content_An a {
  color: #707070;
  padding: 0.5rem 0.95rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderM_btn-filter-content_An a:hover {
  background-color: #e0dfde;
  text-decoration: none;
  color: #707070;
}

.orderM_box_An {
  border-radius: 0.25rem;
  background-color: #e1e1d5;
  padding: 1rem;
}

.orderM_boxBottom_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  /* padding: 0.625rem; */
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  /* margin: 2rem; */
}

.orderM_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.orderM_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem;
}
.orderM_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.orderM_magic-checkbox_An {
  position: absolute;
  display: none;
}
.orderM_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2.7rem;
  margin-right: 2.7rem;
}
.orderM_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderM_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderM_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderM_magic-checkbox_An:checked + label:after {
  display: block;
}
.orderM_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.orderM_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.orderM_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.orderM_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.orderM_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.orderM_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
  position: relative;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.orderM_quantity_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
  position: relative;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.orderM_inputbox_An {
  margin: 2.5rem;
}

.orderM_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.orderM_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderM_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.orderM_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderM_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.orderM_input-black_An:focus {
  outline: none;
}

.orderM_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #cb997e;
  position: relative;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.orderM_boxDown_An {
  /* margin: 2rem; */
  margin-top: 1rem;
  background-color: #fffffd;
  /* width: 64.75rem; */
  border-radius: 0.25rem;
  padding: 1rem;
}

.orderM_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.orderM_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.orderM_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderM_btn-brown_An:hover {
  background-color: #d9ae97;
}
.orderM_btn-brown_An:active {
  background-color: #bb8f78;
}
.orderM_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.orderM_boxDownLeft_An {
  padding: 1.5rem;
}

.orderM_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
}

.orderM_boxDownRight_An {
  padding: 1rem;
}

.orderM_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1.5rem;
  color: #ed8f8f;
}

.orderM_boxStatus_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}

.orderM_boxStatus_An div {
  margin: 1.5rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  /* font-size: 1rem;
  color: #777B5A; */
}

.orderM_boxConsignee_An {
  background-color: #f5f5f5;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem;
}
.orderM_boxConsignee_An span {
  margin: 0.5rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
}

.orderM_borderSL_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}
.orderM_titel_An {
  font-family: "Noto_Serif_TC-Regular", "Microsoft JhengHei", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
  margin-top: 1rem;
}
.orderM_borderSR_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}

.orderM_detailBox_An {
  text-align: center;
}

.orderM_redSpan_An {
  color: #ed8f8f;
  font-size: 0.75rem;
}

.orderM_brownSpan_An {
  color: #cb997e;
  font-size: 0.75rem;
}

.orderM_borderL_An {
  width: 85%;
  height: 0.125rem;
  background-color: #ed8f8f;
  margin-left: 1.5rem;
}

.orderM_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderM_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.orderM_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.orderM_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}
.orderM_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.orderM_magic-radio_An {
  position: absolute;
  display: none;
}
.orderM_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.orderM_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderM_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderM_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderM_magic-radio_An:checked + label:before {
  animation-name: none;
}
.orderM_magic-radio_An:checked + label:after {
  display: block;
}
.orderM_magic-radio_An + label:before {
  border-radius: 50%;
}
.orderM_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.orderM_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.orderM_btn-green_An {
  /* #A5A58D*/
  width: 64.75rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  /* margin-left: 1.9rem; */
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderM_btn-green_An:hover {
  background-color: #b7b7a4;
}
.orderM_btn-green_An:active {
  background-color: #777b5a;
}
.orderM_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}
