@import "~bootstrap/scss/bootstrap.scss";
.orderlistM_body_An {
  display: none;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .orderlistM_body_An {
    display: block;
  }
  .orderlistC_body_An {
    display: none;
  }
}

.orderlistC_body_An {
  background-color: #fff1e6;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.orderlistC_classificationBox_An {
  margin-bottom: 5rem;
}

.orderlistC_classification_An {
  color: #777b5a;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.orderlistC_classification_An a {
  color: #777b5a;
  font-size: 1.5rem;
  text-decoration: none;
}
.orderlistC_classification_An a:hover {
  color: #a5a58d;
  font-size: 1.5rem;
  text-decoration: none;
}

.orderlistC_filterbtn_An {
  background-color: #cb997e;
  color: #fffffd;
  padding: 0.5rem 1rem;
  width: 5.875rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistC_btn-filter_An:hover .orderlistC_filterbtn {
  background-color: #d9ae97;
}
.orderlistC_filterbtn_An:focus {
  outline: none;
}

.orderlistC_btn-filter_An {
  position: relative;
  display: inline-block;
}

.orderlistC_btn-filter-content_An {
  width: 5.875rem;
  display: none;
  position: absolute;
  background-color: #fffffd;
}
.orderlistC_btn-filter_An:hover .orderlistC_btn-filter-content_An {
  display: block;
}

.orderlistC_btn-filter-content_An a {
  color: #707070;
  padding: 0.5rem 0.95rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistC_btn-filter-content_An a:hover {
  background-color: #e0dfde;
  text-decoration: none;
  color: #707070;
}

.container .orderlistC_box_An:nth-child(even) {
  background-color: #fffffd;
}
.container .orderlistC_box_An:nth-child(odd) {
  background-color: #e1e1d5;
}
.orderlistC_box_An {
  border-radius: 0.25rem;
  /* background-color: #e1e1d5; */
  /* background-color: #FFFFFD; */
  padding: 1rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}

.orderlistC_boxL_An {
  color: #cb997e;
  font-size: 1rem;
}

.orderlistC_boxM_An {
  color: #707070;
  font-size: 0.875rem;
}

.orderlistC_boxR_An {
  margin-top: 12rem;
}
.orderlistC_boxR_An a {
  color: #cb997e;
  font-size: 0.875rem;
  text-decoration: none;
}
.orderlistC_boxR_An a:hover {
  color: #d9ae97;
  font-size: 0.875rem;
  text-decoration: none;
}

.orderlistC_boxBottom_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin: 2rem;
}

.orderlistC_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin: 1rem;
  border-radius: 0.25rem;
}

.orderlistC_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem;
}
.orderlistC_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.orderlistC_magic-checkbox_An {
  position: absolute;
  display: none;
}
.orderlistC_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2.7rem;
  margin-right: 2.7rem;
}
.orderlistC_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderlistC_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderlistC_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderlistC_magic-checkbox_An:checked + label:after {
  display: block;
}
.orderlistC_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.orderlistC_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.orderlistC_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.orderlistC_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.orderlistC_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: 1rem;
}

.orderlistC_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  position: relative;
  margin: 1rem;
}

.orderlistC_quantity_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  position: relative;
  margin: 1rem;
}

.orderlistC_inputbox_An {
  margin: 2.5rem;
}

.orderlistC_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.orderlistC_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderlistC_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.orderlistC_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderlistC_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.orderlistC_input-black_An:focus {
  outline: none;
}

.orderlistC_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
  position: relative;
  margin: 2.5rem;
}

.orderlistC_boxDown_An {
  margin: 2rem;
  background-color: #fffffd;
  /* width: 64.75rem; */
  border-radius: 0.25rem;
  padding: 1rem;
}

.orderlistC_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.orderlistC_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.orderlistC_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistC_btn-brown_An:hover {
  background-color: #d9ae97;
}
.orderlistC_btn-brown_An:active {
  background-color: #bb8f78;
}
.orderlistC_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.orderlistC_boxDownLeft_An {
  padding: 1.5rem;
}

.orderlistC_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
}

.orderlistC_boxDownRight_An {
  padding: 1rem;
}

.orderlistC_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1.5rem;
  color: #ed8f8f;
}

.orderlistC_boxStatus_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}

.orderlistC_boxStatus_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  /* font-size: 1rem;
      color: #777B5A; */
}

.orderlistC_boxConsignee_An {
  background-color: #f5f5f5;
  /* width: 64.75rem; */
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 4rem;
}
.orderlistC_boxConsignee_An span {
  margin: 0.5rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
}

.orderlistC_borderSL_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}
.orderlistC_titel_An {
  font-family: "Noto_Serif_TC-Regular", "Microsoft JhengHei", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  margin-top: 1.25rem;
}
.orderlistC_borderSR_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}

.orderlistC_detailBox_An {
  text-align: center;
}

.orderlistC_redSpan_An {
  color: #ed8f8f;
}

.orderlistC_brownSpan_An {
  color: #cb997e;
}

.orderlistC_borderL_An {
  width: 85%;
  height: 0.125rem;
  background-color: #ed8f8f;
  margin-left: 4.25rem;
}

.orderlistC_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistC_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.orderlistC_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.orderlistC_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}
.orderlistC_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.orderlistC_magic-radio_An {
  position: absolute;
  display: none;
}
.orderlistC_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.orderlistC_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderlistC_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderlistC_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderlistC_magic-radio_An:checked + label:before {
  animation-name: none;
}
.orderlistC_magic-radio_An:checked + label:after {
  display: block;
}
.orderlistC_magic-radio_An + label:before {
  border-radius: 50%;
}
.orderlistC_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.orderlistC_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.orderlistC_btn-green_An {
  /* #A5A58D*/
  width: 64.75rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  /* margin-left: 1.9rem; */
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistC_btn-green_An:hover {
  background-color: #b7b7a4;
}
.orderlistC_btn-green_An:active {
  background-color: #777b5a;
}
.orderlistC_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}

.orderlistM_body_An {
  background-color: #fff1e6;
  width: 25.875rem;
}

.orderlistM_classificationBox_An {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
}

.orderlistM_classification_An {
  color: #777b5a;
  font-size: 0.875rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.orderlistM_classification_An a {
  color: #777b5a;
  font-size: 0.875rem;
  text-decoration: none;
}
.orderlistM_classification_An a:hover {
  color: #a5a58d;
  font-size: 0.875rem;
  text-decoration: none;
}

.orderlistM_filterbtn_An {
  background-color: #cb997e;
  color: #fffffd;
  padding: 0.5rem 1rem;
  width: 5.875rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistM_btn-filter_An:hover .orderlistM_filterbtn {
  background-color: #d9ae97;
}
.orderlistM_filterbtn_An:focus {
  outline: none;
}

.orderlistM_btn-filter_An {
  position: relative;
  display: inline-block;
}

.orderlistM_btn-filter-content_An {
  width: 5.875rem;
  display: none;
  position: absolute;
  background-color: #fffffd;
}
.orderlistM_btn-filter_An:hover .orderlistM_btn-filter-content_An {
  display: block;
}

.orderlistM_btn-filter-content_An a {
  color: #707070;
  padding: 0.5rem 0.95rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistM_btn-filter-content_An a:hover {
  background-color: #e0dfde;
  text-decoration: none;
  color: #707070;
}

.orderlistM_body_An .orderlistM_box_An:nth-child(even) {
  background-color: #fffffd;
}
.orderlistM_body_An .orderlistM_box_An:nth-child(odd) {
  background-color: #e1e1d5;
}
.orderlistM_box_An {
  border-radius: 0.25rem;
  /* background-color: #e1e1d5; */
  /* background-color: #FFFFFD; */
  padding: 1rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}

.orderlistM_orderDate_An {
  color: #cb997e;
  font-size: 0.875rem;
}

.orderlistM_boxL_An {
  color: #cb997e;
  font-size: 1rem;
}

.orderlistM_boxM_An {
  color: #707070;
  font-size: 0.875rem;
}

.orderlistM_readMore_An {
  /* margin-top: 12rem; */
  color: #cb997e;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: right;
}
.orderlistM_readMore_An:hover {
  color: #d9ae97;
  font-size: 0.875rem;
  text-decoration: none;
}

.orderlistM_boxR_An {
  margin-top: 12rem;
}
.orderlistM_boxR_An a {
  color: #cb997e;
  font-size: 0.875rem;
  text-decoration: none;
}
.orderlistM_boxR_An a:hover {
  color: #d9ae97;
  font-size: 0.875rem;
  text-decoration: none;
}

.orderlistM_boxBottom_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin: 2rem;
}

.orderlistM_boxUpper_An {
  background-color: #f5f5f5;
  height: 6.8125rem;
  margin: 1rem;
  border-radius: 0.25rem;
}

.orderlistM_icon-018-trashUpper_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem;
}
.orderlistM_icon-018-trashUpper_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

@keyframes hover-color {
  from {
    border-color: #b7b7a4;
  }
  to {
    border-color: #777b5a;
  }
}
.orderlistM_magic-checkbox_An {
  position: absolute;
  display: none;
}
.orderlistM_magic-checkbox_An + label {
  position: relative;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2.7rem;
  margin-right: 2.7rem;
}
.orderlistM_magic-checkbox_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderlistM_magic-checkbox_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderlistM_magic-checkbox_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderlistM_magic-checkbox_An:checked + label:after {
  display: block;
}
.orderlistM_magic-checkbox_An + label:before {
  border-radius: 0.25rem;
}
.orderlistM_magic-checkbox_An + label:after {
  top: 0.1rem;
  left: 0.4rem;
  box-sizing: border-box;
  width: 0.4rem;
  height: 0.7rem;
  transform: rotate(45deg);
  border-width: 0.15rem;
  border-style: solid;
  border-color: #fffffd;
  border-top: 0;
  border-left: 0;
}
.orderlistM_magic-checkbox_An:checked + label:before {
  animation-name: none;
}
.orderlistM_magic-checkbox_An:checked + label:before {
  background: #777b5a;
}

.orderlistM_goodsImg_An {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: 1rem;
}

.orderlistM_goodsName_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
  position: relative;
  margin: 0.5rem;
}

.orderlistM_quantity_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
  position: relative;
  margin: 0.5rem;
}

.orderlistM_inputbox_An {
  margin: 2.5rem;
}

.orderlistM_icon-067-minus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.5rem;
}
.orderlistM_icon-067-minus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderlistM_icon-021-plus_An svg {
  fill: #707070;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.0625rem;
}
.orderlistM_icon-021-plus_An svg:hover {
  fill: #cb997e;
  cursor: pointer;
}

.orderlistM_input-black_An {
  width: 5rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  border: solid 0.08rem #707070;
  text-align: center;
  color: #707070;
  font-family: "Roboto-Regular", "Microsoft JhengHei", "Noto_Serif_TC-Regular",
    monospace, serif;
}
.orderlistM_input-black_An:focus {
  outline: none;
}

.orderlistM_goodsPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
  position: relative;
  margin: 2.5rem;
}

.orderlistM_boxDown_An {
  margin: 2rem;
  background-color: #fffffd;
  /* width: 64.75rem; */
  border-radius: 0.25rem;
  padding: 1rem;
}

.orderlistM_icon-018-trashDown_An svg {
  fill: #d1d1d1;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.2rem 1rem 1rem 3rem;
}
.orderlistM_icon-018-trashDown_An svg:hover {
  fill: #a5a58d;
  cursor: pointer;
}

.orderlistM_btn-brown_An {
  /* #CB997E*/
  width: 3rem;
  height: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #cb997e;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistM_btn-brown_An:hover {
  background-color: #d9ae97;
}
.orderlistM_btn-brown_An:active {
  background-color: #bb8f78;
}
.orderlistM_btn-brown_An:focus {
  background-color: #bb8f78;
  outline: none;
}

.orderlistM_boxDownLeft_An {
  padding: 1.5rem;
}

.orderlistM_countPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #cb997e;
}

.orderlistM_boxDownRight_An {
  padding: 1rem;
}

.orderlistM_totalPrice_An {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1.5rem;
  color: #ed8f8f;
}

.orderlistM_boxStatus_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
}

.orderlistM_boxStatus_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  /* font-size: 1rem;
      color: #777B5A; */
}

.orderlistM_boxConsignee_An {
  background-color: #f5f5f5;
  /* width: 64.75rem; */
  padding: 2rem;
  border-radius: 0.25rem;
  margin: 4rem;
}
.orderlistM_boxConsignee_An span {
  margin: 0.5rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.75rem;
  color: #707070;
}

.orderlistM_borderSL_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}
.orderlistM_titel_An {
  font-family: "Noto_Serif_TC-Regular", "Microsoft JhengHei", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #707070;
  margin-top: 1.25rem;
}
.orderlistM_borderSR_An {
  width: 3.125rem;
  height: 0.125rem;
  background-color: #ed8f8f;
}

.orderlistM_detailBox_An {
  text-align: center;
}

.orderlistM_redSpan_An {
  color: #ed8f8f;
}

.brownSpan_An {
  color: #cb997e;
}

.orderlistM_borderL_An {
  width: 85%;
  height: 0.125rem;
  background-color: #ed8f8f;
  margin-left: 4.25rem;
}

.orderlistM_input-green_An {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: solid 0.08rem #a5a58d;
  color: #707070;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistM_input-green_An:focus {
  outline: none;
  border-color: #777b5a;
}

.orderlistM_boxAddress_An {
  background-color: #fffffd;
  /* width: 64.75rem; */
  padding: 1rem;
  border-radius: 0.25rem;
  /* margin-left: 1.9rem; */
  margin-top: 2rem;
}
.orderlistM_boxAddress_An div {
  margin: 2rem;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 1rem;
  color: #777b5a;
}
.orderlistM_opt_An label {
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
  font-size: 0.875rem;
  color: #707070;
}

.orderlistM_magic-radio_An {
  position: absolute;
  display: none;
}
.orderlistM_magic-radio_An + label {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  vertical-align: middle;
}
.orderlistM_magic-radio_An + label:hover:before {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: hover-color;
}
.orderlistM_magic-radio_An + label:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: 0.15rem solid #b7b7a4;
}
.orderlistM_magic-radio_An + label:after {
  position: absolute;
  display: none;
  content: "";
}
.orderlistM_magic-radio_An:checked + label:before {
  animation-name: none;
}
.orderlistM_magic-radio_An:checked + label:after {
  display: block;
}
.orderlistM_magic-radio_An + label:before {
  border-radius: 50%;
}
.orderlistM_magic-radio_An + label:after {
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #777b5a;
}
.orderlistM_magic-radio_An:checked + label:before {
  border: 0.15rem solid #b7b7a4;
}

.orderlistM_btn-green_An {
  /* #A5A58D*/
  width: 64.75rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  /* margin-left: 1.9rem; */
  /* padding: 0.7rem 2rem; */
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: none;
  color: #fffffd;
  background-color: #a5a58d;
  cursor: pointer;
  text-align: center;
  font-family: "Microsoft JhengHei", "Noto_Serif_TC-Regular", "Roboto-Regular",
    monospace, serif;
}
.orderlistM_btn-green_An:hover {
  background-color: #b7b7a4;
}
.orderlistM_btn-green_An:active {
  background-color: #777b5a;
}
.orderlistM_btn-green_An:focus {
  background-color: #777b5a;
  outline: none;
}
