// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #2f8b0b;
$secondary: #131010;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
.img {
  width: 882px;
  height: 700px;
  background-color: salmon;
}

.page1des {
  font-size: 48px;
  color: #a5a58d;
  font-family: roboto;
}

.page1des2 {
  width: 356px;
  height: 154px;
  font-size: 20px;
  font-family: $fontType1;
  background-color: #f0efeb;
  color: #707070;
}

