.page5bar{
  background-color: #f0efeb;
  width: 100vw;
  height: 40vh;
}
.page5title {
  width: 400px;
  height: 144px;
  
}

.page5Social {
  color: #a5a58d;
  font-size: 60px;
  font-family: $fontType3;
  font-weight: lighter;
  margin-bottom: 10px;
}
.page5slogan {
  color: #555555;
  font-size: 1.25rem;
  font-family: $fontType1;
  text-align: end;
}
.page5{
  width: 100vw;
  height: 100vh;
  background-color: lightsalmon;
}