.page4 {
  margin-bottom: 20vh;
}
.page4title {
  width: 400px;
  height: 144px;
  margin: auto;
  margin-bottom: 100px;
}
.page4Store {
  color: #a5a58d;
  font-size: 3.75rem;
  font-family: $fontType3;
  font-weight: lighter;
  margin-bottom: 10px;
}
.page4slogan {
  color: #555555;
  font-size: 1.25rem;
  font-family: $fontType1;
  text-align: end;
}
.page4product {
  height: 25rem;
  // background-color: #faf;
  position: relative;
}
.page4label {
  width: 2.5rem;
  height: 7rem;
  position: absolute;
  left: 2rem;
  font-size: 1.25rem;
  font-family: $fontType1;
  writing-mode: vertical-lr;
  z-index: 1;
  border-radius: 0 0 9rem 9rem;
}
.label1 {
  background-color: #cb997e;
  color: #fff1e6;
}
.label2 {
  background-color: #fff1e6;
  color: #cb997e;
}
.page4img {
  padding-top: 5%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.page4date {
  border-right: 1px solid #707070;
  width: 35%;
}

.page4year {
  color: #555555;
  font-size: 1.25rem;
  font-family: $fontType3;
}
.pagenew {
  color: #555555;
  font-size: 1rem;
  font-family: $fontType3;
}
.page4content {
  width: 65%;
}
.page4popular {
  color: #555555;
  font-size: 1rem;
  font-family: $fontType3;
  font-weight: lighter;
}

.page4item {
  font-size: 0.8rem;
  color: #555;
  font-family: $fontType3;
}
