.page6 {
  background-color: #f0efeb;
  width: 100vw;
  height: 100vh;
}
.page6des1 {
  color: #555555;
  font-family: $fontType2;
  font-size: 38px;
  margin-top: 100px;
}
.page6des2{
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  width: 20vw;
}

.page6des2date{
  border-right: solid 0.5px #707070;
}
.page6des2topic{

}
.page6des3{
  border-bottom: 1px solid #707070;
  width: 20vw;
}