.page1 {
  margin-bottom: 20vh;
}
.page1left {
  margin-left: 10%;
  width: 40vw;
}
.page1des {
  font-size: 3rem;
  color: #a5a58d;
  font-family: $fontType3;
  font-weight: lighter;
  margin-top: 30%;
  margin-bottom: 10%;
}

.page1des2 {
  width: 100%;
  height: 25%;
  background-color: #f0efeb;
  font-size: 20px;
  font-family: $fontType1;
  color: #707070;
  text-align: center;
}
.hide {
  color: rgba($color: #000000, $alpha: 0);
  // font-size: 0px;
}

.page1des3 {
  font-size: 14px;
  color: #a5a58d;
  text-align: end;
}
.page1right {
  margin-left: 5%;
  width: 60vw;
}

.wrap {
  width: 60vw;
  height: 87vh;
  overflow: hidden;
}

.img-wrap {
  width: 240vw;
  left: 0px;
  transition: 0.5s;
}

.img-wrap img {
  width: 60vw;
  object-fit: cover;
  opacity: 0.8;
}
