.page6 {
  background-color: #f0efeb;
  width: 100vw;
  height: 100vh;
}
.page6img {
  height: 100vh;
  position: relative;
}
.page6activityImg1 {
  background-color: #fff;
}

.page6activityImg1 img {
  opacity: 0.7;
  position: absolute;
  width: 27.25rem;
  height: 31.875rem;
  bottom: 0;
}
.page6activityImg2 img {
  opacity: 0.5;
  position: absolute;
  width: 27.25rem;
  height: 31.875rem;
  bottom: 1rem;
  left: 1rem;
}
.page6activityImg3 img {
  opacity: 0.3;
  position: absolute;
  width: 27.25rem;
  height: 31.875rem;
  bottom: 2rem;
  left: 2rem;
}
.page6des1 {
  color: #555555;
  font-family: $fontType2;
  font-size: 2.3rem;
  margin-top: 20%;
}
.page6recent {
  font-family: $fontType1;
  font-size: 1.25rem;
  color: #555555;
}
.page6des2 {
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  width: 20vw;
}

.page6des2date {
  border-right: solid 0.5px #707070;
  margin: 1.25rem 0 1.25rem 0.3125rem;
}

.page6des2dateYear {
  font-size: 1.25rem;
  font-family: $fontType3;
  color: #555555;
}
.page6desdateDay {
  text-align: end;
  font-size: 1rem;
  font-family: $fontType3;
  color: #555555;
}
.page6des2topic {
  color: #707070;
  font-family: $fontType3;
  font-size: 1rem;
}
.page6des3 {
  border-bottom: 1px solid #707070;
  width: 20vw;
}
.page6more {
  color: #a5a58d;
  font-size: 1rem;
  font-family: $fontType1;
}
