.page2 {
  margin-top: 193px;
}
.page2img {
  height: 403px;
  width: 202px;
  background-color: salmon;
  margin-right: 17px;
}

.page2img2 {
  margin-top: 98px;
}
.page2img3 {
  margin-top: 196px;
}

.page2des {
  margin: 310px 0 0 30px;
}
.page2des span {
  font-size: 60px;
  font-weight: lighter;
  font-family: 'roboto';
  color: #a5a58d;
}
