.page4title {
  width: 400px;
  height: 144px;
  margin: auto;
  margin-bottom: 100px;
}
.page4Store {
  color: #a5a58d;
  font-size: 60px;
  font-family: $fontType3;
  font-weight: lighter;
  margin-bottom: 10px;
}
.page4slogan {
  color: #555555;
  font-size: 1.25rem;
  font-family: $fontType1;
  text-align: end;
}
.page4product {
  // width: 275px;
  height: 400px;
  background-color: #faf;
  // margin:0 5px 0 5px;
  
  ;
}
.page4blank{
  height: 100px;
}
