.page1 {
  height: 70vh;
  min-height: 900px;
  margin-bottom: 20vh;
}
.page1left {
  margin-left: 10vw;
  width: 25vw;
  overflow: hidden;
  height: 70vh;
}
.page1left-wrap {
  top: 0;
}
.page1left-1 {
  width: 25vw;
  height: 70vh;
  // background-color: #ffa;
  // border: 1px solid black;
}
.page1left-2 {
  width: 25vw;
  height: 70vh;
  // background-color: #faf;
  // border: 1px solid black;
}
.page1des {
  font-size: 3rem;
  color: #a5a58d;
  font-family: $fontType3;
  font-weight: lighter;
  padding-top: 15vh;
  margin-bottom: 10%;
}
.page1left-2 .page1des {
  font-size: 2.5rem;
  color: #a5a58d;
  font-family: $fontType3;
  font-weight: lighter;
  padding-top: 15vh;
  margin-bottom: 10%;
}

.page1des2 {
  width: 100%;
  height: 10rem;
  background-color: #f0efeb;
  font-size: 1.25rem;
  font-family: $fontType1;
  color: #707070;
  text-align: center;
}

.hide {
  color: rgba($color: #000000, $alpha: 0);
  // font-size: 0px;
}

.page1des3 {
  font-size: 14px;
  color: #a5a58d;
  text-align: end;
}
// .page1des3:hover {
//   text-decoration: underline;
// }
.page1right {
  margin-left: 5vw;
  width: 60vw;
}

.page1wrap {
  width: 60vw;
  height: 87vh;
  overflow: hidden;
}

.page1img-wrap {
  width: 240vw;
  left: 0px;
  transition: 0.5s;
}

.page1img-wrap img {
  width: 60vw;
  object-fit: cover;
  opacity: 0.8;
}
