.page2 {
  margin-bottom: 20vh;
}
.page2img {
  height: 25.1875rem;
  width: 12.625rem;
  margin-right: 1rem;
}

.page2img img {
  opacity: 0.8;
}

.page2img2 {
  margin-top: 6.125rem;
  // background-image: url(/image/homepage/homepage2-6.jpg);
  // background-size: cover;
  // background-attachment:fixed;
}
.page2img3 {
  margin-top: 12.25rem;
  // background-image: url(/image/homepage/homepage2-6.jpg);
  // background-size: cover;
  // background-attachment: fixed;
}

.page2desBlock {
  margin: 310px 0 0 30px;
}
.adopt {
  font-size: 60px;
  font-weight: lighter;
  font-family: $fontType3;
  color: #a5a58d;
  margin-bottom: 45px;
}

.page2des {
  color: #707070;
  font-size: 20px;
  font-family: $fontType1;
  margin: 0 0 26px 107px;
}
.page2des2 {
  color: #a5a58d;
  font-size: 16px;
  font-family: $fontType1;
  margin-left: 255px;
}
.greenarrow-right {
  width: 4%;
}

.blank2 {
  height: 180px;
}
