// 預設變數覆蓋需要在導入Bootstrap之前

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.footer_bg {
  background-color: #ddbea9;
}

.footer_subtitle {
  padding-right: 0;
  text-align: right;
}

.footer_icon {
  margin-left: 0.625rem;
}

.footer_icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.ftImgAll {
  position: relative;
}

.ftImgBg {
  position: absolute;
  margin-top: -30px;
  width: 100%;
  z-index: 1;
}

.ftImgBgItem {
  margin-top: 40px;
  max-width: 600px;
  max-height: 300px;
}

.ftImgs {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.move {
  transform: translate(80px);
}

.ftImgItem {
  max-width: 470px;
  max-height: 235px;
  min-width: 200px;
  min-height: 100px;
}

.bottomText {
  position: absolute;
  bottom: 0;
}

.footerText {
  font: {
    size: 12px;
    family: $fontType1;
  }
  line-height: 25px;
}

.linkItemTitle {
  font: {
    size: 12px;
    family: $fontType1;
  }
  color: #555555;
}

ul,
li {
  list-style-type: none;
  margin-right: 10px;
}

.ftSlogan {
  font: {
    size: 20px;
    family: $fontType2;
  }
  color: #555555;
  padding-top: 25px;
}

.linkItem {
  position: relative;
  margin-top: 35px;
  bottom: 0;
}
