@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

.commonNavbar {
  height: 100px;
  background-color: $primary;
  opacity: 0.9;
}

.navbar-brand {
  font-weight: lighter;
}

.nav-link {
  font-size: 20px;
  font-weight: 300;
}

.input-brown {
  border-radius: 4px;
  font-size: 16px;
  border: solid 1px #707070;
  font-size: 16px;
  height: 36px;
  width: 230px;
}

::placeholder {
  color: #d1d1d1;
  font-weight: 300;
}
.navSearchPlaceholder {
  padding-left: 20px;
}

.navIcon {
  color: #707070;
}

.navLogoCN {
  border-bottom: 1px solid #fff1e6;
  font-family: $fontType2;
  left: 270px;
  top: 55px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #fff1e6 !important;
}

// .dropdown-menu.show {
//   display: flex !important;
// }
