// 自己使用的變數
$color-green:green;
$color-pink: #ee11ab;

// 直接覆蓋bootstrap裡的預設變數
// $primary:       #ee11ab;
// $secondary:     #111;
// $body-bg:                   #111;
// $body-color:                #ccc;