// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "../custom.scss";
@import "./socialHomeTop";
@import "./socialHomeNews";
@import "./socialHomeRank";
@import "./socialHomeForum";
@import "./socialHomeArticle.scss";
@import "./socialHomeActivity";
@import "./addforumcard";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

//Socialforum-Top
.socialTitle {
  padding-left: 30px;
  width: 400px;
  border-bottom: solid #ed8f8f 2px;
  margin-top: 70px;
}

.socialEditButton {
  position: absolute;
  margin-top: 100px;
  left: 0;
  color: #707070;
  z-index: 4;
  background: rgba($color: #fffffd, $alpha: 0.3);
}

.forumMyEdit {
  height: 40px;
  align-items: center;
}

//pinkarrow
.pinkarrow {
  margin-left: 5px;
  padding: 5px;
  background-color: #ed8f8f;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}
.pinkarrow:hover {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

//論壇主體
.forumMain {
  position: relative;
  top: 40px;
  left: 5%;
  display: flex;
  width: 1140px;
  height: 1200px;
  justify-content: center;
}

.forumBCItemsControl {
  position: relative;
  overflow: hidden;
  top:40px;
  left:30px;
  width: 764px;
  height: 1046px;
  z-index: 1;
}

.forumArticleMain {
  // position: absolute;
  // margin:50px auto;
  width: 764px;
  height: 1046px;
  display: flex;
}

.forumTopBigCard {
  position: absolute;
  left: 0px;
  display: flex;
  width: 15, 280px;
}

.forumMainBg {
  width: 824px;
  height: 1046px;
  background-color: rgba($color: #d9d9c2, $alpha: 0.2);
}

//arrowItems
.forumArrowItems {
  position: absolute;
  display: flex;
  margin-top: -90px;
  width: 900px;
  justify-content: space-between;
}

//forumArticleImg
.forumArticleImgBox {
  position: relative;
  width: 355px;
  height: 425px;
  background-color: #fffffd;
  img {
    object-fit: cover;
  }
}

.forumArticleImg {
  height: 415px;
  opacity: 70%;
}

//Article左下方物件
.forumArticleLinkBox {
  display: inline-block;
  width: 228px;
  height: 262px;
  transform: translate(-50%);
  justify-content: center;
  text-align: center;
  margin-left: 165px;
  margin-top: 165px;
}

.forumArticleLinkTitle {
  text-align: left;
  color: #555555;
  width: 128px;
  margin-top: -20px;
  margin-left: -20px;
}

.forumArticleLinkText {
  color: #cb997e;
  margin-top: 80px;
  margin-left: -10px;
}

.forumLinkLine {
  margin: 0 auto;
  width: 154px;
  border-top: solid #cb997e 1px;
}

//forum_TypeBox(forum主頁用)
.forum_TypeBox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    color: #fffffd;
  }
}

.forum_TypeBg {
  position: absolute;
  top: 10px;
  width: 360px;
  height: 5rem;
  background-color: #b7b7a4;
  opacity: 50%;
  z-index: 1;
}

.forum_BigType {
  z-index: 3;
}

.socialforum_Type {
  width: 65px;
  height: 3.75rem;
  border-left: solid #fffffd 2px;
  z-index: 2;
  margin-top: 16px;
  padding-left: 8px;
  padding-top: 0.375rem;
  color: #fffffd;
}

.socialSType {
  position: absolute;
  right: 0.9375rem;
  display: inline;
}

.forumArticleContent {
  width: 379px;
  height: 943px;
  background-color: #fffffd;
}

.forumArticleTopLine {
  border-top: solid #ddbea9 7px;
}

//forumAutor
.forumAutor {
  position: absolute;
  margin-top: 40px;
  padding-left: 20px;
  // left: 400px;
  img {
    object-fit: cover;
  }
  p {
    color: #555555;
  }
}

.forumAutorImg {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -10px;
}

.forumArticleDate {
  position: absolute;
  color: #ed8f8f;
  margin-top: 30px;
  margin-left: 240px;
}

//forumArticleItems
.forumArticleTItems {
  position: relative;
  top: 105px;
  width: 277px;
  margin: 0 auto;
}

.forumArticleTitle {
  width: 277px;
  text-align: center;
  color: #ed8f8f;
  font-weight: bold;
  margin-top: 16px;
}

.forumArticleText {
  border-top: solid #707070 1px;
  position: relative;
  margin: 0 auto;
  width: 275px;
  height: 210px;

  overflow-x: hidden;
  padding: 15px;
}

.forumReplyHiden {
  color: #a5a58d;
  border: solid #a5a58d 1px;
  padding: 5px;
  position: absolute;
  top: 385px;
  margin-left: 1rem;
}

//forumReply相關內容
.forumReplyMain {
  position: relative;
  width: 347px;
  height: 510px;
  margin: 14px auto;
  top: 150px;
}

.forumReplyBox {
  width: 270px;
  max-height: 58px;
  margin-left: 15px;
  margin-right: 10px;
  background-color: rgba($color: #fff1e6, $alpha: 0.5);
  border: solid #cb997e 1px;
  resize: none;
}

.forumReplyTopLine {
  border-top: solid #707070 1px;
  width: 351px;
  margin-bottom: 18px;
}

.forumUserTalk {
  min-width: 330px;
}

.forumUserTalkBtn {
  color: #fffffd;
  background-color: #ed8f8f;
  border: none;
  border-radius: 4px;
  width: 47px;
  height: 58px;
  opacity: 50%;
}

//forumReplyContent
.singleforumUserReply {
  border-top: solid #fffffd 2px;
}

.forumReplyContent {
  position: relative;
  margin-left: -15px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 348px;
  height: 400px;
  background-color: rgba($color: #e1e1d5, $alpha: 0.5);
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
}

.forumUserReply {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  width: 314px;
  max-height: 500px;
}

.forumAutorReply {
  display: block;
  margin-left: 10px;
  width: 314px;
  max-height: 500px;
  color: #cb997e;
  margin-bottom: 5px;
}

.forumUserReplyItems {
  // position: absolute;
  width: 300px;
  margin-left: 15px;
  margin-top: 30px;
}

.forumAutorReplyItems {
  width: 190px;
  margin-left: 100px;
  margin-top: 30px;
}

.forumUserReplyText {
  // position: absolute;
  color: #555555;
  width: 200px;
  margin-left: 60px;
  p {
    margin-bottom: 8px;
  }
  border-bottom: solid #e1e1d5 1px;
}

.forumAutorReplyText {
  width: 150px;
  margin-left: 150px;
  p {
    margin-bottom: 8px;
  }
}

.forumUserImg {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -10px;
}

.forumUserRBtn {
  // position: absolute;
  margin-top: -45px;
  margin-left: 270px;
  padding-right: 5px;
  button {
    width: 45px;
    padding: 0.5rem 0rem;
  }
}

//forumAutorReply
.forumAutorReply {
  display: inline-block;
}

//---------------------------------forumMiddle---------------------------
.forumMiddle {
  position: relative;
  width: 100%;
  height: 256px;
  background-color: #a5a58d;
  align-items: center;
  justify-content: center;
}

.forumMiddleItems {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%);
  width: 834px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  color: #fffffd;
}

.forumMiddleLine {
  width: 154px;
  border-top: solid #fffffd 1px;
  margin-right: 16px;
}

.forumMiddleBox {
  text-align: center;
  justify-content: center;
}

.forumMiddleBtn {
  width: 126px;
}

//---------------------------------forumNews---------------------------
.forumNewsBT {
  justify-content: center;
  display: flex;
}

.forumNewsTitle {
  width: 585px;
  height: 26px;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 54px;
  color: #555555;
  display: inline-block;
}

.forumTitleLine {
  width: 200px;
  height: 15px;
  border-bottom: solid #ed8f8f 2px;
}

.forumNewsMain {
  height: 530px;
  justify-content: center;
}

.forum_NewsItems {
  margin: 7px auto;
  width: 676px;
  height: 100px;
  background-color: rgba($color: #d9d9c2, $alpha: 0.2);
  color: #ed8f8f;
  overflow: hidden;
  padding: 40px;
}

.forumHotTitle {
  background-color: #ed8f8f;
  color: #fffffd;
  width: 40px;
  height: 26;
  text-align: center;
  border-radius: 4px;
  margin-right: 16px;
}

.forumNewTitle {
  background-color: #a5a58d;
  color: #fffffd;
  width: 40px;
  height: 26;
  text-align: center;
  border-radius: 4px;
  margin-right: 16px;
}

.forumNewColor {
  color: #a5a58d;
}

.forumNewsLineBetween {
  min-width: 1140px;
  border-bottom: solid #b7b7a4 4px;
  margin-top: 159px;
}

//論壇列表
.forum_BTitle {
  color: #555555;
  font: {
    family: $fontType1;
    size: 24px;
    width: lighter;
  }
}

.forumAllCardBT {
  margin-top: 116px;
}

.forum_AllCardItems {
  height: 526px;
  background-color: #fff1e6;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding-top: 40px;
  justify-content: center;
}

.forumAllCardBtnItems {
  max-width: 1080px;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.allCardBtnLeft {
  width: 220px;
  justify-content: space-between;
}

.allCardBtn_Type {
  margin-right: 20px;
}

.forumDayRankBtn {
  background-color: #a5a58d;
  &:hover {
    background-color: #c0c0a6;
  }
}

//控制卡片全部位置
.forumCard_Items {
  position: relative;
  margin: 75px auto;
  height: 20rem;
  top: 40px;
  justify-content: space-between;
  overflow: hidden;
}

//全部卡片arrow
.forumAllCardArrowItems {
  position: absolute;
  display: inline-flex;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  justify-content: space-between;
  width: 1200px;
  z-index: 1;
}

//過度畫面
.forumSaySomething {
  height: 432px;
}

.forumSayBigText {
  margin-top: 120px;
  margin-left: 200px;
  color: #a5a58d;
}

.forumSaySText {
  margin-top: 40px;
  margin-left: 300px;
  color: #555555;
}

//寵物知識
.petknowledgeBT {
  margin: 0 auto;
}

.petknowledgeTitle {
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%);
  width: 585px;
  height: 26px;
  justify-content: space-between;
  color: #555555;
}

//petknowledge範圍
.petknowledgeMain {
  background-color: #fff1e6;
  min-width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//pet文章（大）
.bigArticleBox {
  width: 750px;
  height: 370px;
  background-color: #fffffd;
  color: #555555;
  margin-top: 120px;
  margin-left: 20px;
  padding: 15px;
}

.bigArticleTitleItems {
  position: relative;
  width: 700px;
  height: 30px;
  border-bottom: solid #707070 1px;
  margin: 0 auto;
  justify-content: space-between;
  svg {
    top: 0;
    right: 0;
  }
}

.bigArticleBTitle {
  color: #a5a58d;
  margin-left: 40px;
}

.bigArticleSTitle {
  color: #ed8f8f;
  padding-right: -200px;
}

.bigArticleSText {
  width: 680px;
  text-align: right;
}

.bigArticleContent {
  position: relative;
  left: 30px;
  img {
    object-fit: cover;
  }
}

.bigArticleImg {
  width: 310px;
  height: 270px;
  background-color: #fffffd;
  opacity: 80%;
  padding-left: 30px;
  padding-right: 30px;
  border-right: solid #707070 1px;
}

.bigArticleMain {
  width: 340px;
  height: 270px;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 30px;
  color: #555555;
}

.bigActicleLeftLine {
  width: 20px;
  height: 340px;
  border-right: solid #707070 1px;
  position: absolute;
  display: flex;
  margin: -32px auto;
  z-index: 1;
}

//修正範圍
.bigArticleRange {
  position: relative;
  margin: 0 auto;
  width: 71.25rem;
  height: 1000px;
}

//文章arrow
//改socialforumArrowItems
.bigArticleArrowItems {
  position: absolute;
  display: flex;
  bottom: 40%;
  justify-content: space-between;
  max-width: 80rem;
  z-index: 1;
}

//petknowledgeRight
.petknowledgeRight {
  position: absolute;
  top: 100px;
  padding-top: 170px;
  right: 35px;
  width: 290px;
  height: 375px;
  text-align: center;
}

.petknowledgeType {
  color: #707070;
  justify-content: center;
}

.petknowledgeSLine {
  border-bottom: solid #707070 1px;
  width: 154px;
  margin: 0 auto;
}

.addImg{
  position: relative;
}

.addInput{
  position: absolute;
  opacity: 0;
}

.articleHeartBox{
  position: relative;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.articleHeartBox svg{
  height: 1.4rem;
}

.articleHeart{
  position: absolute;
  height: 20px;
}

.firstSelect{
  min-width: 66.5px;
}