// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #2f8b0b;
$secondary: #131010;
$wcolor: #90a38879;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "../custom.scss";
@import "./socialHomeTop";
@import "./socialHomeNews";
@import "./socialHomeRank";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
