// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #2f8b0b;
$secondary: #131010;
$wcolor: #90a38879;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "../custom.scss";
@import "./SocialHomeTop";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

//socialNewsTop
.socialNewsMain {
  position: relative;
  background-color: #e1e1d5;
  top: 3rem;
  height: 43.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialNewsItems {
  width: 71.25rem;
  height: 31.25rem;
  border: solid red 1px;
}

.socailNewsTop{
  width: 71.25rem;
  display: flex;
  justify-content: space-between;
}

.socailHomeNewsTitile{
  color:#555555;
}
