//------------------------------socialHomeRank------------------------------

//socialHomeFourm範圍
.socialFourmMain {
  background-color: #fff1e6;
  position: relative;
  top:-0.625rem;
  min-width: 100%;
  height: 43.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12.5rem;
}

.socialFourmItems {
  position: relative;
  margin: 0 auto;
  width: 80rem;
}

.socialFourmMainItems {
  position: relative;
  margin: 0 auto;
  width: 71.25rem;
  height: 35.125rem;
}

//socialFourmTop
.socialFourmTop {
  position: relative;
  color: #555555;
}

.socialFourmTextBox {
  border-bottom: solid #ddbea9 3px;
}

.socialFourmText {
  margin-left: 9.375rem;
}

//socialFourmCardItems
.socialFourmCardItems {
  position: relative;
  margin: 5rem auto;
  height: 20rem;
  justify-content: space-between;
  overflow: hidden;
}

.socialFourmCard {
  position: relative;
  width: 16.5625rem;
  height: 19.125rem;
  box-shadow: 0px 8px 8px #cfcfcf;
  overflow: hidden;
}

.socialFourmCardImg {
  position: absolute;
  left: 0;
  top: 0;
  height: 19.125rem;
  opacity: 70%;
  z-index: 0;
}

.fourmCardBg {
  position: absolute;
  left: 0;
  top: 0;
  height: 4.6875rem;
  width: 16.5625rem;
  background-color: #b7b7a4;
  opacity: 50%;
  z-index: 1;
}

.fourmTitleBox {
  position: relative;
  height: 4.6875rem;
  width: 16.5625rem;
  display: flex;
  z-index: 2;
  align-items: center;
  padding-left: 0.625rem;
}

.socialFourmTitle {
  width: 3.75rem;
  height: 3.4375rem;
  border-right: solid #fffffd 2px;
  text-align: right;
  color: #fffffd;
  padding-right: 0.625rem;
}

.socialFourmBTitile {
  width: 9.6875rem;
  text-align: right;
  color: #fffffd;
  font-weight: bold;
  margin-left: 0.625rem;
}

//fourmTypeBox
.fourmTypeBox {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.625rem;
}

.fourmTypeBg {
  position: absolute;
  width: 5.75rem;
  height: 5rem;
  background-color: #b7b7a4;
  opacity: 50%;
  z-index: 1;
}

.socialFourmType {
  min-width: 5.125rem;
  height: 3.75rem;
  border-left: solid #fffffd 2px;
  color: #fffffd;
  z-index: 2;
  padding-top: 0.375rem;
}

.socialSType {
  position: absolute;
  right: 0.9375rem;
  display: inline;
}

//socialFourmArrowItems
.socialFourmArrowItems {
  position: absolute;
  display: flex;
  top: 50%;
  justify-content: space-between;
  max-width: 80rem;
  z-index: 1;
}

.socialfixArrow-left{
  position: absolute;
  left:0;
}

.socialfixArrow-right{
  position: absolute;
  right:0;
}


//socialFourmBottom
.socialFourmBottom {
  position: relative;
  bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialFourmBottomline {
  display: inline-block;
  width: 22.5rem;
  border-bottom: solid #ddbea9 3px;
}

.socialfourmBottomBtn {
  display: inline-block;
  text-align: center;
}
