//------------------------------socialHomeRank------------------------------

//socialHomeRank範圍
.socialRankMain {
  position: relative;
  background-color: #fffffd;
  top: 3rem;
  min-width: 100%;
  height: 43.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6.25rem;
  margin: 6.875rem;
}

.socialRankBg {
  position: absolute;
  background-color: #f5f5f5;
  min-width: 100vw;
  height: 18.25rem;
  top: 20rem;
}

//寵物分類按鈕
.socialRankType {
  position: relative;
}

.rankTypeItems {
  position: absolute;
  display: flex;
  top: 7.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55.625rem;
  justify-content: space-between;
  text-align: center;
}

// 大按鈕
.btn-rankType {
  width: 15.625rem;
  padding: 0.6rem 3rem;
  border-radius: 0.4rem;
  border: none;
  color: #fffffd;
  background-color: #ddbea9;
  cursor: pointer;
  text-align: center;
  font: {
    family: $fontType3;
    size: 1.5rem;
  }
}

.btn:hover {
  background-color: #e8ccb9;
}

.btn:active {
  background-color: #d9ae97;
}

.btn:focus {
  background-color: #d9ae97;
  outline: none;
}

//RankItems
.socialRankBox {
  position: relative;
  width: 100vw;
  justify-content: center;
}

.socialRankItems {
  position: absolute;
  width: 60.1875rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -3rem;
  justify-content: space-between;
}

//socialRankCard
.singleRankCard {
  position: relative;
  cursor: pointer;
}
.socialRankNumber {
  position: absolute;
  width: 4.5625rem;
  height: 4.5625rem;
  top: -2.5rem;
  left: -2.1875rem;
  border: dashed #555555 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialRankCard {
  background-color: #fffffd;
  width: 16.5625rem;
  height: 19.375rem;
  box-shadow: 0px 8px 8px #cfcfcf;
  padding: 0.625rem;
  text-align: center;
  img {
    object-fit: cover;
  }
}

.socialRankCardImg {
  width: 15rem;
  height: 15rem;
  padding: 0 auto;
  opacity: 80%;
  background-color: white;
  overflow: hidden;
}

//RankCardText

.rankTitleBox {
  display: inline-block;
  width: 5.125rem;
  border-right: solid #707070 1px;
}

.socialRankTitle {
  position: relative;
  width: 3.4375rem;
  display: flex;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  color: #555555;
  font: {
    family: $fontType3;
    size: 1rem;
  }
}

.socialRankDay {
  position: absolute;
  right: 0;
  top: 1.25rem;
}

.rankTextBox {
  position: relative;
  display: flex;
  width: 10.125rem;
  justify-content: flex-start;
  padding-left: 0.5rem;
  padding-bottom: 1.25rem;
}

.rankTitleText {
  display: block;
  position: absolute;
  right: 0;
  top: 1.25rem;
}
