//------------------------------socialNewsAll------------------------------
//socialNewsTop
.socialNewsMain {
  position: relative;
  background-color: #e1e1d5;
  top: 8rem;
  min-width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .socialNewsItems {
//   position: absolute;
//   width: 71.25rem;
//   height: 20rem;
// }

.socialNewsTop {
  position: relative;
  width: 71.25rem;
  display: flex;
  justify-content: space-between;
}

.newsScrollingItems {
  display: inline-block;
  margin-left:10%;
  top:-15px;
  width: 58.25rem;
  position: absolute;
  align-items: center;
}

.socialHomeNewsTitile {
  margin-top: -8rem;
  color: #555555;
}

.socialNewsSTItems {
  margin-top: 1rem;
}
.socialNewsSTitle {
  background-color: #a5a58d;
  border-radius: 0.625rem;
  width: 2.5rem;
  height: 1.4375rem;
  text-align: center;
  color: #fff1e6;
  display: inline-block;
}

.socialNewsScrollP {
  color: #ed8f8f;
  margin-right: 4.0625rem;
  font-weight: bold;
}

.scrollTextItems {
  display: inline-block;
  position: absolute;
  width: 55rem;
  height: 2.25rem;
  overflow: hidden;
  right: 0;
  padding-top: 0.625rem;
}

//newsSearchBox
.newsSearchBox {
  position: relative;
  width: 71.25rem;
  padding-bottom: 20%;
}

.talkSearchBox {
  position: absolute;
  left: 0;
  width: 39.8125rem;
  height: 16.4375em;
  background-color: #fffffd;
  justify-content: center;
  border-radius: 0.25rem;
  padding-top: 1.875rem;
}

.actitivySearchBox {
  position: absolute;
  right: 0;
  width: 26.0625rem;
  height: 16.4375em;
  background-color: #fffffd;
  justify-content: center;
  border-radius: 0.25rem;
  padding-top: 1.875rem;
}

.talkSearchTitle {
  text-align: start;
  padding-left: 1.5rem;
  font: {
    family: $fontType1;
    size: 1.5rem;
    weight: lighter;
  }
}

.talkSearchType {
  width: 33.3125rem;
  height: 7.25rem;
  border-top: solid #707070 0.125em;
  border-bottom: solid #707070 0.125em;
}

.activitySearchType {
  width: 21.875rem;
  height: 7.25rem;
  border-top: solid #707070 0.125em;
  border-bottom: solid #707070 0.125em;
}

.talkPetType {
  display: flex;
  width: 15.465rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.activityArea {
  display: flex;
  width: 10.31rem;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.activityAreaR {
  display: flex;
  width: 10.31rem;
  justify-content: space-between;
}

.talkContentType {
  display: flex;
  width: 20.625rem;
  justify-content: space-between;
}

//分類按鈕-橘色
.btn-orange {
  height: 2.5rem;
  margin: 0.25rem;
  border-radius: 0.2rem;
  border: none;
  color: #fffffd;
  background-color: #ddbea9;
  cursor: pointer;
  text-align: center;
  font: {
    family: $fontType1;
    size: 0.75rem;
  }
}

.newsBtnW {
  width: 4.5625rem;
}

.talkSearchGoBtn {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.searchgoBtnW {
  width: 6.6875rem;
}
