.chatCircle {
  display: flex;
}

.circle {
  // margin: 500px auto;
  width: 70px;
  height: 70px;
  // background-color: pink;
  border-radius: 50%;
  // position: relative;
  position: fixed;
  bottom: 0px;
  right: 20px;
  // opacity: 0;
}

.chat {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px;
  position: absolute;
  right: 60px;
  bottom: 17px;
  background-color: #fff;
}
.chatBorder {
  border: 1px solid #eea4a4;
  border-radius: 4px;
  min-width: 280px;
}
.chatTop {
  height: 6vh;
  width: 101%;
  background-color: #ed8f8f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 6vh;
  opacity: 0.7;
}
.chatImg {
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: rgb(221, 215, 215);
}
.chatImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chatContant {
  padding: 20px 30px;
  font-size: 0.75rem;
  color: gray;
}
.chatName2 {
  display: flex;
}
.google {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  opacity: 1;
}
.chatEmail {
  margin-bottom: 0.75rem;
}
.chatInput {
  margin-bottom: 1.5rem;
}
.chatContant > .chatBtn {
  width: 100%;
  border: 1px solid #ed8f8f;
  background-color: #ed8f8f;
  color: #fff;
  border-radius: 4px;
  height: 2rem;
  opacity: 0.7;
}
input::placeholder {
  font-size: 0.75rem;
}
textarea::placeholder {
  font-size: 0.75rem;
}
#root
  > main
  > div
  > div.chatCircle
  > div
  > form
  > div
  > div
  > div.chatContant
  > div.google
  > a {
  margin-left: 5px;
}

//提交後畫面
.closedBtn {
  display: flex;
  justify-content: center;
}
.closedBtn1 {
  height: 32px;
  margin: 0px 10px;
  background-color: #fff;
  color: #ed8f8f;
  padding: 0px 20px;
  border: 1px solid #ed8f8f;
  border-radius: 4px;
  opacity: 0.7;
}
.closedBtn1:hover {
  height: 32px;
  margin: 0px 10px;
  background-color: #ed8f8f;
  color: #fff;
  padding: 0px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  opacity: 0.7;
}
.closedBox {
  height: 78px;
  background-color: #a5a58d;
  text-align: center;
  margin: 10px;
  color: #fff;
  line-height: 78px;
  border-radius: 4px;
  opacity: 80%;
}
