@import "./styles/custom.scss";
@import "./styles/adoption/custom.scss";
@import "./styles/cart/custom.scss";
@import "./styles/homapage/homepage.scss";
@import "./styles/membership/custom.scss";
@import "./styles/social_media/custom.scss";
@import "./styles/store/custom.scss";
